:root{
    box-sizing: border-box;
    height: 60px;
}

img{  /*rendre toutes les images de mon site responsives*/
    max-width: 100%;
    height: auto;
}

*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}
/* ************************************ header ************************************ */
.logo {
  display: flex;
  align-items: center;
  width: 140px;
  height: 120px;
}

#headTitle {
  color: #523634;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-left: 50vh; 
  text-align: center; 
  flex-grow: 1; 
  line-height: 1; 
  white-space: nowrap;
}

/* ************************************ nav ************************************ */
nav {
  background-color: #DDC5A2;
  display: grid;
  justify-content: space-evenly;
  place-items: center;
  width: 100%;
  font-size: 20px;
  position: sticky;
  top: 0;
  z-index: 1;
}

nav ul li {
  margin: 0 25px; /* Ajoute une marge entre les éléments */
}

nav ul{
    list-style-type: none;
    display: flex;
}

nav ul a{
    display: inline-block;
    padding: 20px;
    text-decoration: none;
    color: #B6452C;
}

nav ul a:hover{
    background-color: #523634;
    color: white;
}

.menu-deroulant > a:after{
  content: '❯';
  font-size: 15px;
  margin-left: 7px;
  display: inline-block;
}

.sous-menu {    
  background-color: white;
  border-radius: 2px;
  overflow: hidden;
  max-height: 0;
  display: block;
  position: absolute;
  z-index: 100;
}

.sous-menu > li:hover > a {
  color: white;
}


@keyframes rotationFleche {
  0% {
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(90deg);
  }
}  

.menu-deroulant:hover > a:after{
  animation: rotationFleche 0.2s linear forwards;
}

@keyframes apparitionSousMenu {
  0% {
    box-shadow: 0px 3px 3px 1px rgba(0,0,0,0);
    border-top: 3px solid #B6452C;
  }
  30% {
    box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);
  }
  100% {
    max-height: 50em;
    border-top: 3px solid #B6452C;
    box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);
  }
}

.menu-deroulant:hover > .sous-menu {
  animation: apparitionSousMenu 1s forwards;
}

#menuToggle{
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  /* display: none; */
}

/* ************************************ images et recherche ************************************ */
.container {
  width: 100%;
  height: 400px;
  padding: 5%;
  padding-bottom: 25%;
  background-image: url(/images/banniereSC.png);
  background-position: center;
  background-size: cover;
  display: flex; 
  flex-direction: row;
  align-items: center; 
  justify-content: right;
  position: relative;
  z-index: 0; 
}

.searchBar{
    width: 25em;
    /* height: 5em;  */
    max-width: 700px;
    background: rgba(255, 255, 255, 0.687);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-radius: 40px;
    padding: 10px 10px;
    border: solid #523634;
} 

.searchBar input{
    background: transparent;
    flex: 2;
    border: 0;
    outline: none; 
    padding: 10px;
    font-size: 13px;
    color: #523634;
}

 ::placeholder{
    color: #523634;
    width: 205%;
}

.searchBar button img{
    width: 15px;
} 

 .searchBar button{
    border: 0;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    background: #523634;
    cursor: pointer;
    padding: 10px;
} 

/* ************************************ titres et cards ************************************ */
.mainContent{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    gap: 20px; 
}

#mainTitle1, #mainTitle2{
    font-style: georgia,verdana;
    font-size: large;
    color: #523634;
    text-align: center;
    padding: 50px;
}

h1{
  font-style: georgia,verdana;
  font-size: x-large;
  color: #523634;
  text-align: center;
  grid-column: 2/3;
  margin: 0 auto;
  padding-bottom: 30px;
}

hr {
    margin: 10px 0;
    background-color: #B6452C;
    border: 0;
    height: 2px;
    width: 100%;
}

.card {
    width: 80%;
    border-radius: 5px;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 40px;
  }
  
  .card div:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  img {
    border-radius: 5px 5px 0 0;
  }
  
  .mainContainer {
    padding: 30px 16px;
  }

  h4{
    color: #B6452C;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

  .profil{
    width : 100px; height : 100px;
    border: solid 2px #523634;
    -moz-border-radius : 75px;
    -webkit-border-radius : 75px;
    border-radius : 75px;
  }

    /* ********************** Cards ********************** */
  #cardButton {
    display: inline-block;
    padding: 10px 15px;
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor: pointer;
    color: #523634;
    background-color: #ddc5a2bc;
    border: solid #B6452C;
    border-radius: 25px;
    align-self: center;
  }

  .card1 {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding-bottom: 40px;
  }
  .card2 {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding-bottom: 40px;
    align-items: center;
    
  }
  .card h4, .card p, .card{
    margin: auto;
    text-align: center;
    justify-content: center;
    padding: 20px;
  }
  #cardButton{
    align-items: center;
  }

  .card3 {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding-bottom: 20px;
  }

    /* ********************** Test caroussel ********************** */

h5{
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #B6452C;
}

/* ************************************* Test images remplace carousel ******************************** */

.cercle {
  width: 200px; 
  height: 200px; 
  border-radius: 50%; 
  display: inline-block; /* Images en ligne horizontalement */
  margin: 15px; 
  overflow: hidden; /* Masquer les images qui dépassant du cercle */
  margin-left: 10px; 
  margin-right: 10px; 
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); 
}

.cercle img {
  width: 100%; 
  height: auto;
}
.cercles-container{
  margin: 0 20px;
}

/* ****************************** Diapo Ateliers ************************* */
  .conteneur-diaporama {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
  }
  
  img {
    max-height: 400px; 
  }

  .maDiapo {
    position: relative; 
  }
  
  .bouton-image {
    position: absolute; 
    bottom: 10px; 
    left: 10px; 
    display: inline-block;
    padding: 10px 15px;
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor: pointer;
    color: #523634;
    background-color: #DDC5A2;
    border: solid #B6452C;
    border-radius: 25px;
    align-self: center;
  }

/* ******************************* FORM/INSCRIPTION-CONNEXION ******************************* */
#connect {
  margin: 0;
  padding: 0;
  background-image: url(/images/cake_image.jpg);
  background-size: cover; /* couvre tout l'arrière-plan */
  background-repeat: no-repeat; 
  display: flex;
  align-items: center;
  justify-content: center; 
  height: 100vh;
}

#headerForm {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 21%;
  background-color: #ffffff; 
}

form {
  float: left; 
  display: flex;
  flex-direction: column;
  background-color: #DDC5A2;
  padding: 10px;
  margin: 50px;
  border-radius: 10px;
  border: 2px solid #523634;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-top: 25%;
}

h4 {
  text-align: center;
  font-size: 20px;
}

hr {
  margin: 10px 0;
  background-color: #B6452C;
  border: 0;
  height: 2px;
  width: 100%;
}

.name-field {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.name-field div {
 display: flex;
 flex-direction: column;
}

.name-field div {
  width: 49%;
}

label {
  margin-bottom: 6px;
}

input {
  margin-bottom: 5px;
  padding: 5px;
  outline: 0%;
  border: 2px solid #523634;
}

input:focus {
  border: 1px solid #B6452C;
}

input[type="submit"] {
  margin-top: 15px;
  background-color: #DDC5A2;
  color: #523634;
  border: 3px solid #B6452C;
  cursor: pointer;
}

p {
  text-align: center;
  margin: 5px 0;
  font-size: 14px;
}

p a {
  text-decoration: 0;
  color: #B6452C;
}

p a:hover {
  text-decoration: underline;
}


  /* ********************** Footer ********************** */
  .footer-basic {
    padding:40px 0;
    background-color:#DDC5A2;
    color:#523634;
    bottom: 0;
  }
  
  .footer-basic ul {
    padding:0;
    list-style:none;
    display: flex;
    justify-content: center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
  }
  
  .footer-basic li {
    padding:0 10px;
  }
  
  .footer-basic ul a {
    color:inherit;
    text-decoration:none;
  }
  
  .footer-basic ul a:hover {
    opacity:1;
    color: #B6452C;
  }
  
  .footer-basic .social {
    text-align:center;
    padding-bottom:25px;
  }
  
  .footer-basic .social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #B6452C;
    margin:0 8px;
    color:inherit;
  }
  
  .footer-basic .social > a:hover {
    opacity: 0.8;
  }
  
  .footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color: #523634;
    margin-bottom:0;
  }

/* **********************************Test medias queries *************************************************** */


/* ************************************ Responsive ************************************ */


/* test medias queries */

@media screen and (min-width: 768px){ /*style css s'applique que si mon ecran à une taille minimum de 768px*/
  #menuToggle {
      display: none;
}
  #mainHeader{
      grid-template-columns: 70px 250px 1fr;
}
#mainNav{
  position: static;
  background-color: transparent;
  display: block !important;
}
#mainNav ul{
  flex-direction: row;
  justify-content: space-between;
  height: 80px;
  align-items: center;
}
#mainNav a{
  font-size: 1.2em;
  padding-left: 0 20px;
}
}
@media screen and (min-width :992px ){

}

@media screen and (min-width :1200px ){
  #mainHeader{
      grid-template-columns: 70px repeat(2, 1fr);
}
  #mainHeader > h1 {
      font-size: 1.3em;
  }
}
@media screen and (min-width :1400px ){

}
